# For us MacBook users
.DS_Store

# File containing API key data.
credentials.py

# Video to become series of frames (placed by user)
*.mp4

# For us pleb python users
__pycache__

# Constants file for user specification
constants.py
