# For us pleb macbook users
.DS_Store

# File containing API key data.
credentials.py

# File with explicit keys
local_main.py

# Video to become series of frames
to_frame.mp4

# For us pleb python users
__pycache__

# Don't push a 30 TB commit to git
frames/*
